.booklist-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  padding: 2rem;
  max-width: 1000px;
  background-color: var(--secondary-color-bg);
}

.booklist-cover {
  width: 5rem;
}

.booklist-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.booklist-author,
.booklist-date p,
.booklist-date span {
  font-size: 0.875rem;
}

.booklist-date span {
  font-weight: 600;
}
