.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 24rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow-4);
  border-radius: 0.875rem;
  background-color: var(--bg-color);
}

.form-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.underline-title {
  background: -webkit-linear-gradient(
    right,
    var(--primary-color-100),
    var(--primary-color-300)
  );
  height: 2px;
  margin: -1.1rem auto 1rem auto;
  width: 5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 2rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-inline: 1rem;
}

.form-input {
  height: 3rem;
  padding-inline: 1rem;
  border-width: 1px;
  border: 1px solid var(--primary-color-100);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  /* border-top: none;
  border-right: none;
  border-left: none; */
}
.form-links-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form-link {
  font-size: 0.875rem;
  color: var(--action-300);
  text-align: center;
  margin-top: 0.5rem;
}

.form-link:hover {
  color: var(--action-200);
}
