.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.capitalize {
  text-transform: capitalize;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mt-05 {
  margin-top: 0.5em;
}
.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 4em;
}

.text-center {
  text-align: center;
}

.no-text-decoration {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}
