/*-----------*/
/* SEARCHBAR */
/*-----------*/

.searchbar-form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.searchbar-input {
  height: 3rem;
  width: 80%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  border: transparent;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow-3);
}

.searchbar-btn {
  min-width: 4rem;
  max-width: 4rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: transparent;
  padding: 0.75rem 1.25rem;
  border-color: transparent;
  box-shadow: var(--shadow-3);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.searchbar-btn:hover {
  background-color: var(--primary-color-200);
  box-shadow: var(--shadow-1);
  transform: scale(1.02);
}

.searchbar-btn:disabled {
  pointer-events: none;
  background-color: var(--primary-color-300);
}

.searchbar-icon {
  font-size: 1.5rem;
}
