.searchresults-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 2rem;
}

@media (min-width: 1200px) {
  .searchresults-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.searchresults-container a {
  cursor: pointer;
  text-decoration: none;
}

.searchresults-container a:hover {
  transform: scale(1.02);
}

.searchresult-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.searchresult-cover-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  max-height: 200px;
  max-width: 128px;
  box-shadow: var(--shadow-4);
}

searchresult-cover-wrapper img {
  object-fit: contain;
}

.searchresult-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.searchresult-author {
  font-size: 1rem;
  font-weight: 400;
}

.searchresult-language {
  font-size: 0.875rem;
  font-weight: 100;
}

.pagination {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}
