/*--------*/
/* NAVBAR */
/*--------*/

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.nav-toggle {
  display: block;
  font-size: 2.5rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
}

.nav-toggle:hover {
  color: var(--primary-color-300);
}

.logo {
  width: 200px;
  cursor: pointer;
}

.links {
  margin-bottom: 0.75rem;
}

.links a {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1rem;
  transition: var(--transition);
}

nav .active {
  color: var(--primary-color-300);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.links a:hover {
  color: var(--primary-color-300);
  transform: scale(1.05);
}

.links a svg {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.links-container {
  overflow: hidden;
  /* background-color: rgb(153, 180, 175, 0.2); */
  box-shadow: var(--shadow-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: var(--transition);
}

.menu-wrapper {
  padding-bottom: 3rem;
}

/* MEDIA QUERIES - Desktop */
@media screen and (min-width: 900px) {
  .nav-header {
    margin: 1rem;
  }
  .icon-text-wrapper {
    padding: 0.5rem 1rem;
  }

  .icon-text-wrapper:hover {
    color: var(--primary-color-300);
  }
  .nav-toggle {
    display: none;
  }

  .nav-header {
    padding: 0;
  }

  .nav-center {
    width: min(1800px, 100% - 2em * 2);
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    width: 250px;
  }

  .links-container {
    height: auto !important;
    box-shadow: none;
    transition: none;
  }

  .links {
    display: flex;
    margin-bottom: 0;
  }

  .links a {
    padding: 1rem 2rem;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0;
  }
}
