/*-----------*/
/* SEARCHBAR */
/*-----------*/

.searchbar-form {
  display: flex;
  justify-content: center;
}

.searchbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: 3rem;
  margin: 3rem;
  background: var(--action-100);
  box-shadow: var(--shadow-3);
  border-radius: var(--border-radius);
}

.searchbar-input {
  position: absolute;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-3);
}

.searchbar-input:focus {
  outline: none;
}

.searchbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 100%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: transparent;
  background-color: var(--action-100);
  font-size: 1.25rem;
}
