.page-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}

.page-title-underline {
  background: -webkit-linear-gradient(
    right,
    var(--secondary-color-100),
    var(--secondary-color-300)
  );
  height: 2px;
  margin: -1.1rem auto 1rem auto;
}
