/*------ */
/* RESET */
/*------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Add „pointer“ cursor */
Button,
[type="„button“"],
[type="„reset“"],
[type="„submit“"],
[type="„image“"],
[type="„checkbox“"],
summary {
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------*/
/* CUSTOM PROPERTIES (Variables) */
/*-------------------------------*/

:root {
  /* Colors */
  --primary-bg-color: #f9fffe;
  --secondary-color-light: #99b4af;
  --secondary-color-dark: #2e3634;

  --primary-text-color: #000000;
  --button-color: #bbbd96;
  --button-color-hover: #969778;

  /* Fonts */
  --main-font: "Raleway", sans-serif;
  --main-font-size: clamp(1rem, 3vw, 1.125rem);

  /* Box Shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*--------*/
/* GLOBAL */
/*--------*/

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 100%;
  margin: 0 auto;
}

a,
li,
p {
  color: var(--primary-text-color);
  font-size: var(--main-font-size);
}

/*---------*/
/* BUTTONS */
/*---------*/

.btn {
  min-width: 7.75rem;
  max-width: 12.5rem;
  border-radius: 25px;
  padding: 0.625rem 2rem 0.625rem 2rem;
  border: none;
  background-color: var(--button-color);
  font-weight: 600;
  box-shadow: var(--shadow-1);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-color-hover);
  box-shadow: var(--shadow-4);
}

/*--------*/
/* NAVBAR */
/*--------*/

.main-nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.main-nav-links {
  display: flex;
  gap: 4rem;
}

.main-nav-links li {
  list-style: none;
}

.main-nav-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.main-nav-links a:hover {
  color: var(--secondary-color-dark);
}
